@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
*{ box-sizing: border-box;
  margin: 0;
  font-size: 20px;
  padding: 0;
  font-family: 'Orbitron', sans-serif;  

}
